= item.input :name, label: t('item.name')
= item.input :description, label: t('item.description')
= item.input :price, label: t('item.price')
= item.input :real, label: t('item.real')
= item.input :weight, label: t('item.weight')
= item.input :image, as: :file, label: t('item.image')
= hidden_field_tag :admin, params[:admin]
