= item.input :name, label: 'Назва'
= item.input :description, label: 'Опис'
= item.input :price, label: 'Ціна'
= item.check_box :real, label: 'Наявність'
= item.input :weight, label: 'Вага'
= hidden_field_tag :admin, params[:admin]
