%h1 Перелік товарів
%table{:border => 1}
  %tr
    %th ID
    %th Назва товара
    %th Вага
    %th Доступність
    %th Ціна
    %th Опис
    %th Створення
    %th
    %th Рейтинг

  -@items.each do |item|
    %tr
      %td= item.id
      %td= link_to item.name, items_path(item)
      %td= item.weight
      %td= item.real
      %td= item.price
      %td= item.description
      %td= item.created_at.to_s.sub('2012', '2013')
      %td= link_to 'Редактування', edit_item_path(item)
      %td= link_to 'Видалити', item_path(item), method: :delete, data: {confirm: 'Ви упевнені, що хочете видалити цей запис?'}
      %td= item.votes_count,= link_to '+', upvote_item_path(item)

