<H1>Перелік товарів</H1>
<table>
  <tr>
    <th>ID</th>
    <th>Назва товара</th>
    <th>Вага</th>
    <th>Доступність</th>
    <th>Ціна</th>
    <th>Опис</th>
    <th>Створення</th>
    <th></th>
    <th>Рейтинг</th>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td>
        <%= link_to item.name, items_path(item) %></td>
      <td><%= item.weight %></td>
      <td><%= item.real %></td>
      <td><%= item.price %></td>
      <td><%= item.description %></td>
      <td><%= item.created_at.to_s.sub('2012', '2013') %></td>
      <td><%= link_to 'Редактування', edit_item_path(item) %></td>
      <td><%= link_to 'Видалити', item_path(item), method: :delete, data: {confirm: 'Ви упевнені, що хочете видалити цей запис?'} %></td>
      <td><%= item.votes_count %>, <%= link_to '+', upvote_item_path(item) %></td>
    </tr>
  <% end %>
</table>
